--
-- PostgreSQL database dump
--

-- Dumped from database version 15.7 (Debian 15.7-1.pgdg120+1)
-- Dumped by pg_dump version 15.7 (Debian 15.7-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO postgresuser;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO postgresuser;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgresuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgresuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgresuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgresuser;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgresuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgresuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgresuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgresuser;

--
-- Name: property_property; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.property_property (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    price_per_night numeric(10,2) NOT NULL,
    bedrooms integer NOT NULL,
    bathrooms integer NOT NULL,
    guests integer NOT NULL,
    country character varying(255) NOT NULL,
    country_code character varying(10) NOT NULL,
    category character varying(255) NOT NULL,
    image character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    host_id uuid NOT NULL,
    CONSTRAINT property_property_bathrooms_check CHECK ((bathrooms >= 0)),
    CONSTRAINT property_property_bedrooms_check CHECK ((bedrooms >= 0)),
    CONSTRAINT property_property_guests_check CHECK ((guests >= 0))
);


ALTER TABLE public.property_property OWNER TO postgresuser;

--
-- Name: property_reservation; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.property_reservation (
    id uuid NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    number_of_nights integer NOT NULL,
    guests integer NOT NULL,
    total_price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id uuid NOT NULL,
    property_id uuid NOT NULL,
    CONSTRAINT property_reservation_guests_check CHECK ((guests >= 0)),
    CONSTRAINT property_reservation_number_of_nights_check CHECK ((number_of_nights >= 0))
);


ALTER TABLE public.property_reservation OWNER TO postgresuser;

--
-- Name: useraccount_user; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.useraccount_user (
    password character varying(128) NOT NULL,
    id uuid NOT NULL,
    name character varying(100),
    email character varying(100) NOT NULL,
    avatar character varying(100),
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    last_login timestamp with time zone
);


ALTER TABLE public.useraccount_user OWNER TO postgresuser;

--
-- Name: useraccount_user_groups; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.useraccount_user_groups (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.useraccount_user_groups OWNER TO postgresuser;

--
-- Name: useraccount_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.useraccount_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.useraccount_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: useraccount_user_user_permissions; Type: TABLE; Schema: public; Owner: postgresuser
--

CREATE TABLE public.useraccount_user_user_permissions (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.useraccount_user_user_permissions OWNER TO postgresuser;

--
-- Name: useraccount_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgresuser
--

ALTER TABLE public.useraccount_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.useraccount_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
1	angelo.pucci@web.de	f	t	6d0a6462-d926-4b93-b16c-1d924a10846b
2	testemail@test.com	f	t	1cfaed52-3032-49a7-be65-0b2f558153b8
3	testexmail@test.com	f	t	e61602c4-d079-4d42-89a3-4716021a3ae2
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	useraccount	user
7	authtoken	token
8	authtoken	tokenproxy
9	account	emailaddress
10	account	emailconfirmation
11	property	property
12	allauth	socialapp
13	allauth	socialaccount
14	allauth	socialtoken
15	property	reservation
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: property_property; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.property_property (id, name, description, price_per_night, bedrooms, bathrooms, guests, country, country_code, category, image, created_at, host_id) FROM stdin;
0e4b957d-100b-4009-8a16-3acf7687fe2b	Second Property	sada	0.01	4	5	3	Spain	ES	City	property_images/7.jpg	2024-05-20 20:07:47.149814+00	d4e3323f-99c4-44e7-94b0-fba93dd1c097
61dbf39e-a082-4580-8492-ae090312f89f	First Property	123131	100.00	2	2	2	Germany	DE	beach	property_images/2.jpeg	2024-05-20 20:07:10.451369+00	d4e3323f-99c4-44e7-94b0-fba93dd1c097
\.


--
-- Data for Name: property_reservation; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: useraccount_user; Type: TABLE DATA; Schema: public; Owner: postgresuser
--



--
-- Data for Name: useraccount_user_groups; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.useraccount_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: useraccount_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgresuser
--

COPY public.useraccount_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 3, true);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 21, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 27, true);


--
-- Name: useraccount_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.useraccount_user_groups_id_seq', 1, false);


--
-- Name: useraccount_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgresuser
--

SELECT pg_catalog.setval('public.useraccount_user_user_permissions_id_seq', 1, false);


--
-- Name: account_emailaddress account_emailaddress_email_key; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_email_key UNIQUE (email);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: property_property property_property_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.property_property
    ADD CONSTRAINT property_property_pkey PRIMARY KEY (id);


--
-- Name: property_reservation property_reservation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.property_reservation
    ADD CONSTRAINT property_reservation_pkey PRIMARY KEY (id);


--
-- Name: useraccount_user useraccount_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user
    ADD CONSTRAINT useraccount_user_email_key UNIQUE (email);


--
-- Name: useraccount_user_groups useraccount_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_groups
    ADD CONSTRAINT useraccount_user_groups_pkey PRIMARY KEY (id);


--
-- Name: useraccount_user_groups useraccount_user_groups_user_id_group_id_793452f9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_groups
    ADD CONSTRAINT useraccount_user_groups_user_id_group_id_793452f9_uniq UNIQUE (user_id, group_id);


--
-- Name: useraccount_user useraccount_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user
    ADD CONSTRAINT useraccount_user_pkey PRIMARY KEY (id);


--
-- Name: useraccount_user_user_permissions useraccount_user_user_pe_user_id_permission_id_47dceb51_uniq; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_user_permissions
    ADD CONSTRAINT useraccount_user_user_pe_user_id_permission_id_47dceb51_uniq UNIQUE (user_id, permission_id);


--
-- Name: useraccount_user_user_permissions useraccount_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_user_permissions
    ADD CONSTRAINT useraccount_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: property_property_host_id_347dae42; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX property_property_host_id_347dae42 ON public.property_property USING btree (host_id);


--
-- Name: property_reservation_created_by_id_7fe96819; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX property_reservation_created_by_id_7fe96819 ON public.property_reservation USING btree (created_by_id);


--
-- Name: property_reservation_property_id_6bda3f3f; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX property_reservation_property_id_6bda3f3f ON public.property_reservation USING btree (property_id);


--
-- Name: useraccount_user_email_ad0e8321_like; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX useraccount_user_email_ad0e8321_like ON public.useraccount_user USING btree (email varchar_pattern_ops);


--
-- Name: useraccount_user_groups_group_id_9d49cea4; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX useraccount_user_groups_group_id_9d49cea4 ON public.useraccount_user_groups USING btree (group_id);


--
-- Name: useraccount_user_groups_user_id_fcea8d7d; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX useraccount_user_groups_user_id_fcea8d7d ON public.useraccount_user_groups USING btree (user_id);


--
-- Name: useraccount_user_user_permissions_permission_id_e65de47b; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX useraccount_user_user_permissions_permission_id_e65de47b ON public.useraccount_user_user_permissions USING btree (permission_id);


--
-- Name: useraccount_user_user_permissions_user_id_8fe888bb; Type: INDEX; Schema: public; Owner: postgresuser
--

CREATE INDEX useraccount_user_user_permissions_user_id_8fe888bb ON public.useraccount_user_user_permissions USING btree (user_id);


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_useraccount_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_useraccount_user_id FOREIGN KEY (user_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_useraccount_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_useraccount_user_id FOREIGN KEY (user_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_useraccount_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_useraccount_user_id FOREIGN KEY (user_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: property_property property_property_host_id_347dae42_fk_useraccount_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.property_property
    ADD CONSTRAINT property_property_host_id_347dae42_fk_useraccount_user_id FOREIGN KEY (host_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: property_reservation property_reservation_created_by_id_7fe96819_fk_useraccou; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.property_reservation
    ADD CONSTRAINT property_reservation_created_by_id_7fe96819_fk_useraccou FOREIGN KEY (created_by_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: property_reservation property_reservation_property_id_6bda3f3f_fk_property_; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.property_reservation
    ADD CONSTRAINT property_reservation_property_id_6bda3f3f_fk_property_ FOREIGN KEY (property_id) REFERENCES public.property_property(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: useraccount_user_groups useraccount_user_groups_group_id_9d49cea4_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_groups
    ADD CONSTRAINT useraccount_user_groups_group_id_9d49cea4_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: useraccount_user_groups useraccount_user_groups_user_id_fcea8d7d_fk_useraccount_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_groups
    ADD CONSTRAINT useraccount_user_groups_user_id_fcea8d7d_fk_useraccount_user_id FOREIGN KEY (user_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: useraccount_user_user_permissions useraccount_user_use_permission_id_e65de47b_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_user_permissions
    ADD CONSTRAINT useraccount_user_use_permission_id_e65de47b_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: useraccount_user_user_permissions useraccount_user_use_user_id_8fe888bb_fk_useraccou; Type: FK CONSTRAINT; Schema: public; Owner: postgresuser
--

ALTER TABLE ONLY public.useraccount_user_user_permissions
    ADD CONSTRAINT useraccount_user_use_user_id_8fe888bb_fk_useraccou FOREIGN KEY (user_id) REFERENCES public.useraccount_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

